<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="ApplyJobsInNaukri">
		<parameter name="url" value="http://www.naukri.com"></parameter>
		<parameter name="uname" value="muneendravipparthi@hotmail.com"></parameter>
		<parameter name="pwd" value="munnabhai"></parameter>
		<classes>
			<class name="TestMethods.ApplyJobinNaukri" />
		</classes>
	</test>
	<test thread-count="5" name="ApplyJobsinLinkedIn">
		<parameter name="url" value="http://www.linkedin.com"></parameter>
		<parameter name="uname" value="muneendravipparthi@gmail.com"></parameter>
		<parameter name="pwd" value="munnabhai"></parameter>
		<classes>
			<class name="TestMethods.ApplyJobinLinkedIn" />
		</classes>
	</test>
	<test thread-count="5" name="ApplyJobsInMonster">
		<parameter name="url" value="http://www.monster.com"></parameter>
		<parameter name="uname" value="muneendravipparthi@hotmail.com"></parameter>
		<parameter name="pwd" value="munnabhai"></parameter>
		<classes>
			<class name="TestMethods.ApplyJobinMonster" />
		</classes>
	</test>
</suite> <!-- Suite -->
